h1 {
  color: purple;
  font-family: monospace;
}
  {
    background-color: white;
}
p {
  color: darkblue;
}
h3 {color: purple;}

li {
    display: inline;
}
li a {
    display: block;
    width: 60px;
  background-color: blue;
    color: black;
}
.active {
    background-color: lightblue;
}
li a:hover {
    background-color: grey;
}
