h1 {
  color: purple;
  font-family: monospace;
  text-align: center;
  font-size: 50px
}

p {
  color: navy;
  font-family: monospace;
  text-align: center;
    font-size: 20px;
}
h3 {
  color: purple;
  font-family: monospace;
  text-align: center;
  font-size: 30px;
}
  

li {
    display: inline;
  float: left;
  padding: 10px;
  
}
li a:active {
    background-color: grey;
}
li a:hover {
   color: grey;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu {
    width: 3000px;
    height: 60px;
    font-size: 30px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #99c2ff;
        border-radius: 8px;
  border-width: 80;


}
#menu ul {
    padding: 0px;
    margin: 0px;
}
.space {
  padding-left: 30px;
  padding-right: 30px;
}

.img {
  border-width: 10px;
  border-color: #99c2ff;
  border-style: solid;
}
.table {
  color: navy;
  font-family: monospace;
  font-size: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

th {
    text-align: left;
}
