h1 {
  color: purple;
  font-family: monospace;
}
  {
    background-color: white;
}
p {
  color: navy;
}
h3 {color: purple;}

li {
    display: inline;
}
.active {
    background-color: teal;
}
li a:hover {
    background-color: grey;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu {
    width: 550px;
    height: 35px;
    font-size: 30px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: navy;
        border-radius: 8px;
}
#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}
